/epik
/epik-miner
/epik-worker
/epik-seed
/epik-health
/epik-chainwatch
/epik-shed
/epik-pond
/epik-townhall
/epik-fountain
/epik-stats
/epik-bench
/epik-gateway
/epik-pcr
/epik-wallet
/bench.json
/epikpond/front/node_modules
/epikpond/front/build
/cmd/epik-townhall/townhall/node_modules
/cmd/epik-townhall/townhall/build
/cmd/epik-townhall/townhall/package-lock.json
extern/filecoin-ffi/rust/target
**/*.a
**/*.pc
/**/*/.DS_STORE
.DS_STORE
build/.*
build/paramfetch.sh
/vendor
/blocks.dot
/blocks.svg
/chainwatch.db
/bundle
/darwin
/linux

*-fuzz.zip
/chain/types/work_msg/
bin/ipget
bin/tmp/*
.idea
scratchpad
