[Unit]
Description=epik Storage Miner
After=network.target
After=epik-daemon.service
Requires=epik-daemon.service

[Service]
ExecStart=/usr/local/bin/epik-storage-miner run
Environment=GOLOG_FILE="/var/log/epik/miner.log"
Environment=GOLOG_LOG_FMT="json"

[Install]
WantedBy=multiuser.target
