[Unit]
Description=Epik Miner
After=network.target
After=epik-daemon.service
Wants=epik-daemon.service

[Service]
ExecStart=/usr/local/bin/epik-miner run
Environment=GOLOG_FILE="/var/log/epik/miner.log"
Environment=GOLOG_LOG_FMT="json"

[Install]
WantedBy=multi-user.target
